# Author: noraj
version: '3'
services:
  ctf-party:
    image: noraj/ctf-party:5.0.0
    user: noraj
    container_name: ctf-party
    read_only: false
    build:
      context: .
      dockerfile: Dockerfile
      args:
        CTF_PARTY_VERSION: 5.0.0
